body {
    position:relative;
    background-image:url("../images/background.jpg");
}
header{
    text-align:center;
    font-size:60px;
}
.content{
display:flex;
flex-flow:column;
align-items:center;
text-align:center;
border:solid;
border-radius:15px;
background-color:white;
margin:10px;
}

#scoreDiv{
    position:fixed;
    left:30px;
    top:80px;
    text-align:left;
}

#footer{
    position: fixed;
    width:100%;
    left:0;
    text-align:center;
    bottom:0;
    background-color:white;
    padding: 10px;
}